<html>
  <head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="javascripts/script.js"></script>
    <title>Get Nashed</title>
  </head>
  <body>
    <div id="wrapper">
      <h2>The Nasheries</h2>
      <div id="nasheries">
        <!-- <% for x in nasheries   %> -->
        <% nasheries.poem %>
        <!-- <% end %> -->




      </div>
    </div>
  </body>
</html>
