<html>
  <head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="javascripts/script.js"></script>
    <title>Get Nashed</title>
  </head>
  <body>
    <div id="wrapper">

      <h2>The Nasheries</h2>
      <a href="/nashery">Enter a Nashery</a>
        <div id="nasheries">
          <% for post in nasheries %>
            <% for x in post %>
            <div id="post">
              <a href="/nashery/<% x.id %>"><h4><% x.title %></h4></a>
              <% x.poem %>
            </div>
            <% end %>
          <% end %>
        </div>
    </div>
  </body>
</html>
