<html>
  <head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="javascripts/script.js"></script>
    <title>Nashed::Grounds</title>
  </head>
  <body>
    <h2>Insert a Nashery</h2>
    <form action="/nashed" method="POST">
    <textarea name="nashed">
    </textarea><br />
    <button>Nash It!</button>
    </form>

  </body>
</html>
